In [2]:
%pip install pandas
import pandas as pd

Requirement already satisfied: pandas in c:\users\naduk\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.23.2 in c:\users\naduk\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\naduk\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\naduk\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\naduk\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\naduk\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
crm=pd.read_csv("crimes_near_property/number_of_crimes_near_property_last_five_years..csv")

In [4]:
crm.head(5)

,Join_Count,TARGET_FID,PropertyID,PropType,District,nbhd,Style,Stories,Year_Built,Rooms,...,BUFF_DIST,ORIG_FID,Field1,Location_1,ReportedYear,crime_count,longitude_1,latitude_1,Shape_Length,Shape_Area
0,178,1,173613.0,Residential,3.0,3160.0,Duplex O/S,2.0,1908.0,10.0,...,200.0,348,4131.0,1708 E GENEVA PL,2016.0,3.0,-87.888789,43.070220,0.013447,0.000014
1,15,2,856121.0,Condominium,3.0,5924.0,Condo Duplex,3.0,2005.0,5.0,...,200.0,855,685.0,1100 E KANE PL,2016.0,1.0,-87.897934,43.056481,0.009032,0.000002
2,125,3,189902.0,Residential,3.0,3240.0,Duplex-Cottage,2.0,1883.0,11.0,...,200.0,659,1425.0,1214 E KANE PL,2016.0,1.0,-87.895885,43.056261,0.013445,0.000014
3,55,4,174147.0,Residential,3.0,3060.0,Residence O/S,2.0,1901.0,7.0,...,200.0,120,8678.0,2507 E LINNWOOD AV,2017.0,1.0,-87.878930,43.072696,0.013447,0.000014
4,81,5,174037.0,Condominium,3.0,5504.0,Low Rise 1-3 Stories,1.0,1905.0,7.0,...,200.0,599,6687.0,2209 E PARK PL,2017.0,1.0,-87.882512,43.067151,0.013447,0.000014

In [5]:
crm.rename(columns={'Join_Count': 'count_of_crimes_200m'}, inplace=True)

In [7]:
crm.columns

Index(['count_of_crimes_200m', 'TARGET_FID', 'PropertyID', 'PropType',
       'District', 'nbhd', 'Style', 'Stories', 'Year_Built', 'Rooms',
       'FinishedSqft', 'Units', 'Bdrms', 'Fbath', 'Hbath', 'Lotsize',
       'Sale_date', 'Sale_price', 'Location', 'latitude', 'longitude', 'City',
       'State', 'Country', 'BUFF_DIST', 'ORIG_FID', 'Field1', 'Location_1',
       'ReportedYear', 'crime_count', 'longitude_1', 'latitude_1',
       'Shape_Length', 'Shape_Area'],
      dtype='object')

In [8]:
crm.drop(['TARGET_FID', 'PropertyID','City','State', 'Country', 'BUFF_DIST', 'ORIG_FID', 'Field1', 'Location_1','crime_count', 'longitude_1', 'latitude_1',
       'Shape_Length', 'Shape_Area'],axis=1,inplace=True)

In [9]:
crm.columns

Index(['count_of_crimes_200m', 'PropType', 'District', 'nbhd', 'Style',
       'Stories', 'Year_Built', 'Rooms', 'FinishedSqft', 'Units', 'Bdrms',
       'Fbath', 'Hbath', 'Lotsize', 'Sale_date', 'Sale_price', 'Location',
       'latitude', 'longitude', 'ReportedYear'],
      dtype='object')